.share-management {
  .el-autocomplete {
    width: calc(100% - 20px);
    margin: 10px 10px 0 10px;
  }
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding: 20px 20px 0;
  height: 100%;
  overflow: hidden;
  &-device {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    background: #082b40 !important;
    .device-tree {
      width: 100%;
      .searchInput {
        width: 100%;
        margin: 10px 0;
      }
      .el-input__inner {
        height: 32px;
      }
    }
  }
  &-person {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    background: #082b40 !important;
  }
  .btn {
    margin-left: 10px;
  }
}
.share {
  .el-dialog__body {
    padding: 15px 35px;
    overflow-x: hidden;
  }
  .share-device {
    display: flex;
    flex-direction: column;
    height: 640px;
    &-title {
      background: #fffbe8;
      height: 24px;
      padding: 10px;
      display: flex;
      align-items: center;
      box-sizing: content-box;
      i {
        margin: 10px 10px 10px 0;
      }
    }
    &-card {
      flex: 1;
      display: grid;
      grid-template-columns: 2fr 150px 1fr;
      grid-template-rows: 100%;
      min-height: 550px;
      box-sizing: content-box;
      margin: 20px 0;
      .share-device-left {
        display: flex;
        background: #f8f8f8;
        border-radius: 2px;
        border: 1px solid #eeeeee;
        align-items: center;
        overflow: hidden;
      }
      .share-device-center {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
          width: 80px;
          margin-left: unset;
        }
      }
      .share-device-right {
        background: #f8f8f8;
        border-radius: 2px;
        border: 1px solid #eeeeee;
        .share-list-tree {
          height: 100%;
        }
      }
      .tree-item {
        width: 50%;
        height: 100%;
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .tree-checked {
          margin: 0 0 20px 16px;
          height: 10px;
          .el-checkbox__label {
            width: 385px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 15px;
          }
        }
      }
      .list-item {
        height: 100%;
        overflow: hidden;
        .tree-list {
          display: flex;
          margin: 20px 0;
          box-sizing: content-box;
          height: calc(100% - 80px);
          overflow: hidden;
          &-user {
            flex: 1;
            max-width: 140px;
            overflow-y: hidden;
            max-height: 500px;
            &:hover {
              overflow-y: auto;
            }
            &::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }
            .item {
              display: flex;
              align-items: center;
              padding: 9px 16px;
              cursor: pointer;
              border-right: 1px solid #e9e9e9;
              position: relative;
              span {
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
              }
              .delete-item {
                position: absolute;
                cursor: pointer;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
              &:active {
                background: rgba(48, 133, 203, 0.1);
              }
            }
            .active {
              color: #3085cb;
              background: rgba(48, 133, 203, 0.1);
            }
          }
          &-dev {
            flex: 2;
            overflow-y: hidden;
            max-height: 500px;
            &:hover {
              overflow-y: auto;
            }
            &::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }
            .chooseUser-item {
              display: flex;
              align-items: center;
              padding: 9px 16px;
              position: relative;
              span {
                width: 80%;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
              }
              .delete-item {
                position: absolute;
                cursor: pointer;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      .tree-header {
        display: flex;
        align-items: center;
        padding: 20px 16px;
        height: 60px;
        img {
          margin-right: 10px;
          display: inline-block;
        }
        span {
          font-weight: bold;
          color: #232c3b;
        }
      }
      .line {
        width: 1px;
        height: 420px;
        background: #e9e9e9;
        border-radius: 0;
      }
    }
  }
}
