$color1: #333;
$color2: #262626;
$color3: #404040;
$color4: #4d4d4d;
$color5: #b5b5b5;
$color6: #aaa;
$color7: #ccc;
$color8: #fff;
$color9: #e6e6e6;
$color10: #595959;
$color11: #626262;
$color12: #1a1a1a;
$color13: #3085cb;
$color14: #303a42;
$color15: #175290;
$color16: #0085d0;
$color17: #172b46;
$color18: #1a3e6e;
$color19: #7d7d7d;
$color20: #f56c6c;
$color21: #67c23a;
$color22: #e6a23c;
$color23: #000;
$color24: #629edc;
$color25: #dcdcdc;
$color26: #6db5ff;
$color27: #a0c2e6;
$color28: #b7894f;
$color29: #409eff;
$color30: #3696e5;
$color31: #bfbfbf;
$color32: #388cd5;
$color33: #a0a0a0;
$color34: #1a1a1a;
$color35: #3a8acf;
$color36: #07192c;
$color37: #074e77;
$color38: #338cd5;
$color39: #f92828;
$color40: #47dcb6;
$color41: #019bfd;
$color42: #00ffff;
$color43: #134058;
$color44: #b3b3b3;
$color45: #a0a0a0;
$color46: #1b1b1b;
$color47: #313131;
$color48: #434343;
$color49: #f5f5f5;
$color50: #cce6ff;
$color51: #388cd5;
$color52: #10a9ff;
$color53: #6078d0;
$color54: #ff0000;
$color55: #172d3a;
$color56: #54f2ff;
$color57: #06d1fd;
$color58: #fd0606;
$color59: #1a5576;
$color60: #0c4566;
$color61: #06cd6d;
$color62: #00a0e9;
$color63: #0000ff;
$color64: #f5f7fa;
$color65: #b1b1b1;
$color66: #0e5b88;
$color67: #8c8686;
$color66: #0e5b88;
$color67: rgba(255, 255, 255, 0.2);
$color68: #dcdfe6;
$color69: #d2d2d2;
$color70: #d9d9d9;
$color71: #808080;
$color72: #999999;
$color73: #666666;
$color74: #f2f2f2;
$color75: #4488be;
$color76: #082b40;
$color77: #1499e7;
$color78: #18242c;
$color79: #052132;
$color80: #062335;
$color81: #1a252c;
$color82: #172b46;
