.el-cascader-menu {
  background: #595959 !important;
  color: #fff !important;
  border-right: 1px solid #4d4d4d;
}

.el-cascader-menus {
  border: 1px solid #595959 !important;
  border-radius: 6px;
}

.el-cascader-menu__item {
  color: #fff !important;
}

.el-cascader-menu__item:focus:not(:active),
.el-cascader-menu__item:hover {
  background: #3085cb !important;
  color: #fff !important;
}

.el-cascader-node:not(.is-disabled):focus,
.el-cascader-node:not(.is-disabled):hover {
  background: #3085cb !important;
  color: #fff !important;
}

.el-cascader__dropdown {
  border: none;
}

.el-cascader-node__label {
  color: #fff;
}

.el-popper {
  border: 2px #4d4d4d solid;
  margin-top: 0;
  background: #4d4d4d;
  color: #ccc;
}

.el-autocomplete-suggestion__wrap {
  padding: 0;
}


.el-autocomplete-suggestion__list li:hover {
  background: #3085cb !important;
}

.el-autocomplete-suggestion__list li {
  color: #fff;
}

.el-picker-panel__shortcut {
  color: #ccc;
}

.el-picker-panel__sidebar {
  background-color: #4d4d4d;
}

.el-date-picker__header button,
.el-date-picker__header span {
  color: #ccc;
}

.el-picker-panel__content th {
  color: #ccc;
}

.el-date-table td.disabled div {
  background: #4d4d4d;
}

/* 告警统计日期选框 */
.el-icon-d-arrow-left:before {
  color: #fff;
}

.el-icon-arrow-left:before {
  color: #fff;
}

.el-icon-d-arrow-right:before {
  color: #fff;
}

.el-icon-arrow-right:before {
  color: #fff;
}

.el-date-table td.in-range div {
  background-color: #404040;
}

.el-date-table td.in-range div:hover {
  background-color: #409eff;
  color: #fff;
}

.el-picker-panel__footer {
  background-color: #4d4d4d;
}

/* cd */
.el-month-table td .cell {
  color: #fff;
}

.el-month-table td.disabled .cell {
  background-color: transparent;
  color: #fff;
}

.el-month-table td.in-range div,
.el-month-table td.in-range div:hover {
  background-color: transparent;
}

.el-month-table td.end-date div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.el-month-table td.start-date div {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* 时间选择期 */
.el-time-spinner__item {
  color: #c0c4cc;
}

.el-time-spinner__item:hover {
  background: #409eff;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background: #409eff;
}

.el-message-box {
  background-color: #333;
  border: none;

  .el-message-box__title {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }

  .el-message-box__status::before {
    display: none;
  }

  .el-message-box__status {
    display: none;
  }
  .el-message-box__message {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(245, 108, 108, 1);
  }

  .el-message-box__status + .el-message-box__message {
    padding-left: 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(245, 108, 108, 1);
  }

  .el-message-box__btns {
    text-align: center;
  }

  .el-button {
    height: 32px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    margin-top: 28px;
  }
}

.el-button.is-disabled.is-plain,
.el-button.is-disabled.is-plain:focus,
.el-button.is-disabled.is-plain:hover {
  background: transparent;
  border-color: transparent;
}

.el-date-range-picker__editor .el-input__inner {
  border-color: #c0c4cc;
}

.el-message-box__message p {
  word-wrap: break-word;
  word-break: break-word;
}

.el-table {
  width: 99.9% !important;
}

.el-table__footer-wrapper{
  overflow: auto;
}

.break-changePwd{
  width: auto !important;
 .popper-content {
 word-break: break-all !important;
}
}

.el-message,
.el-message-box__message {
  white-space: pre-line;
}

.el-picker-panel.no-clear {
  .el-picker-panel__footer {
    .el-picker-panel__link-btn.el-button--text {
      display: none;
    }
  }
}

.longOptionStyle {
  .el-scrollbar {
    width: 280px !important;
  }
  .el-select-dropdown__item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/* 图标颜色#e6e6e6 */
.iconCss {
  color: #e6e6e6;
  font-style: normal;
  margin-right: 6px;
}
/* 图标颜色#389ED8 */
.iconCss1 {
  color: #389ed8;
  font-style: normal;
  margin-right: 6px;
}
/* 图标颜色#999999 */
.iconCss2 {
  color: #999999;
  font-style: normal;
  margin-right: 6px;
}

.el-form-item.popover-error .el-form-item__error {
  color: #fff;
  font-size: 12px;
  line-height: 1;
  word-break: break-word;
  position: absolute;
  top: 102%;
  left: 20px;
  padding: 4px 5px;
  border-radius: 5px;
  background: #ea5200;
  z-index: 10;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.12),
    0 0 6px rgba(0, 0, 0, 0.04);

  &:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ea5200;
    border-style: solid;
    border-width: 6px;
    content: '';
    height: 0;
    left: 15px;
    position: absolute;
    top: -11px;
  }
}
