.el-select {
  .el-input {
    .el-input__wrapper {
      .el-input__inner {
        border: none;
      }
    }
  }
}

.el-input {
  .el-input__wrapper {
    --el-input-border-color: transparent;
    --el-disabled-border-color: transparent;
  }
}

.pagination {
  .el-input {
    .el-input__wrapper {
      --el-input-border-color: unset;
      --el-disabled-border-color: unset;
    }
  }
}

.el-form {
  .el-input {
    .el-input__wrapper {
      .el-input__inner {
        background-color: transparent;
        border: none;
      }
    }
  }
}

.loginFront {
  .el-input {
    .el-input__wrapper {
      background-color: transparent;

      .el-input__inner {
        background-color: transparent;
        border: none;
      }
    }
  }
}

.el-radio-group {
  .el-radio-button__inner {
    display: flex;
    align-items: center;
  }
}

.el-pagination {

  .btn-prev,
  .btn-next {
    background-color: transparent !important;
  }

  .el-pager {
    li:not(.is-active) {
      background-color: transparent !important;
    }
  }

  .el-pagination__jump {
    .el-input {
      .el-input__wrapper {
        background-color: transparent;

        .el-input__inner {
          border: none;
        }
      }
    }
  }
}

.pagination {
  .paging {
    .el-select {
      .el-input {
        .el-input__wrapper {
          background-color: transparent;
        }
      }
    }
  }
}

.el-date-editor {
  background-color: #595959;
  --el-border-color: transparent;

  .el-range-input {
    color: #fff;
  }
}


.el-popper {
  border: none !important;
  border-radius: 10px;
  background-color: #595959 !important;
  color: #fff !important;

  .el-scrollbar {
    border-radius: 5px;
  }

  .el-popper__arrow::before {
    border: none !important;
    background-color: #595959 !important;
  }

  .el-date-range-picker,.el-picker-panel {
    background-color: #595959;
    color: #fff;

    .el-picker-panel__body-wrapper {
      .el-picker-panel__body {
        .el-date-range-picker__time-header {
          color: #fff;

          .el-date-range-picker__editors-wrap {
            .el-date-range-picker__time-picker-wrap {
              .el-input {
                .el-input__wrapper {
                  .el-input__inner {
                    border: none;
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .el-picker-panel__content {
          .el-date-range-picker__header {
            .el-picker-panel__icon-btn {
              color: #fff;
            }
          }

          .el-date-table {
            tbody {
              color: #fff;

              tr {
                td.disabled {
                  color: #fff;

                  .el-date-table-cell {
                    background-color: #595959 !important;
                  }
                }

                td.in-range {
                  color: #fff;

                  .el-date-table-cell {
                    background-color: #404040 !important;
                  }
                }
              }
            }
          }
        }
      }
    }

    .el-picker-panel__footer {
      .el-button {
        background-color: #595959;
        color: #fff;
      }
    }
  }
}

.el-dialog {
  .el-dialog__header {
    margin-right: 0;
  }
}

.el-dropdown {
  line-height: unset;
}

.el-dropdown-menu {
  background-color: #595959;
}

.el-form-item {
  align-items: baseline;
}

.el-form-item__label,
.el-form-item__content {
  font-size: 14px;
}

.el-range-editor--small.el-input__wrapper {
  height: 34px;
}

.el-overlay-dialog {
  .el-input .el-input__wrapper {
    background: #f2f2f2;
    color: #262626;
    border: 1px solid #d2d2d2;
  }

  .el-input .el-input__inner {
    color: #262626;
  }

  .el-date-editor {
    background: #f2f2f2;
    color: #262626;
    border: 1px solid #d2d2d2;
  }

  .el-input.is-disabled .el-input__inner,
  .el-input.is-disabled .el-input__wrapper {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
    color: #737373;
  }
}

.el-radio.el-radio--small .el-radio__label {
  font-size: 14px;
}

.el-dialog__body {
  background: #fff;
  color: #4d4d4d;
  padding: 15px 140px 5px 140px;
  max-height: 65vh;
  overflow-y: auto;

  .el-table--border .el-table__inner-wrapper::after,
  .el-table--border::after,
  .el-table--border::before,
  .el-table__inner-wrapper::before {
    background-color: #d9d9d9
  }

  .el-table__border-left-patch {
    background-color: #d9d9d9
  }

  .el-pagination.is-background .el-pager li.is-active {
    background-color: var(--el-color-primary);
    color: var(--el-color-white);
  }
}

.el-input--small .el-input__inner {
  height: 28px;
  line-height: 28px;
  text-overflow: ellipsis;
}

.drawboard-cover {
  .el-input__wrapper {
    border: none !important;
    color: #fff !important;
    background: #0b537e !important;
  }

  .el-input__inner {
    color: #fff !important;
  }
}

.flex-aln {
  display: flex;
  align-items: center;
}

.el-input.is-disabled .el-input__wrapper .el-input__inner {
  -webkit-text-fill-color: #737373 !important;
}