@import "iconfont.css";
.screen {
  pointer-events: none;
  position: fixed;
  z-index: 1002;
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
}
.screen.full{
  height: 100vh;
  top: 0px;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    /*文字超出宽度则显示ellipsis省略号*/
    text-overflow: ellipsis;
}
.el-select .el-input.is-disabled .el-input__inner{
    border-color: #E4E7ED;
    color: #fff;
}
.el-input.is-disabled .el-input__inner{
    color: #fff;
}
.amap-copyright,.amap-logo{
    display: none!important;
}
.el-form--inline .el-form-item__label{
    float: left;
}
.el-button--small{
    height: 32px;
    /*line-height: normal;*/
}
.el-input.is-disabled .el-input__inner{
    background: transparent;
}
#table_time_selected_time_seled {
    overflow: auto;
    margin-right: 20px;
    box-sizing: border-box;
}
#table_time_selected_time_seled div{
    /*overflow: hidden;*/
    width: 100%;
}
/*.screen > -webkit-scrollbar-track {*/
/*  background-color: #1e2c45 !important;*/
/*}*/

/*.screen > -webkit-scrollbar-thumb {*/
/*  background-color: #2e4c90 !important;*/
/*  border-radius: 3px;*/
/*}*/

/*.screen > -webkit-scrollbar {*/
/*  width: 6px;*/
/*  height: 0px;*/
/*}*/
input{
	background:none;
	outline:none;
  border: none;
  color: #ffff;
}
input:focus{
	border:none;
}
.base {
    background-color: transparent;
    box-sizing: border-box;
    width: 1700px;
    height: 100%;
    margin: 20px auto;
    position: relative;
}
.search-form {
    margin-top:18px;
}
.el-dialog {
    position: relative;
    margin: 0 auto 0.26042rem;
    background: #051b2c!important;

    border-radius: 0.01042rem;
    box-shadow: 0 0.00521rem 0.01563rem rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 50%;
}
.el-dialog__title {
    line-height: 0.125rem;
    font-size: 0.09375rem;
    color:#fff!important;
}
.el-dialog__body {
    padding: 0.15625rem 0.10417rem;
    color:#fff!important;
    font-size: 0.07292rem;
    word-break: break-all;
}
.el-input.is-disabled .el-input__inner {
    background-color: transparent!important;
    border-color: #E4E7ED;
    color: #C0C4CC;
    cursor: not-allowed;
}
.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    background-color: transparent!important;
    font-size: 0.07292rem;
    color: #606266;
}
.el-table tr {
    background-color: transparent!important;
}
.el-table th.el-table__cell {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent!important;
}
.el-loading-mask {
    position: absolute;
    z-index: 2000;
    background-color: transparent!important;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
}
.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background: #0a3251!important;
}

.form-flex {
  display: flex;
  padding: 0 40px;

  .form-left {
    width: 50%;
    padding-right: 20px;
  }

  .form-right {
    width: 50%;
    padding-left: 20px;
  }
}
.tableNOdata {
    margin-left: 50%;
    text-align: center;
    /* display: flex; */
    /* align-content: flex-end; */
    /* flex-direction: column; */
    transform: translateX(-50%);
}
.el-cascader__dropdown {
    margin: 0.02604rem 0;
    font-size: 0.07292rem;
    background: #0a3251!important;
    border: solid 0.00521rem #E4E7ED;
    border-radius: 0.02083rem;
    box-shadow: 0 0.01042rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
}
.el-cascader-menu {
    min-width: 0.9375rem;
    box-sizing: border-box;
    color: #fff!important;
    border-right: solid 0.00521rem #E4E7ED;
}
.el-cascader-node:not(.is-disabled):hover, .el-cascader-node:not(.is-disabled):focus{
    background: #0c3c60!important;
}
.el-tooltip {
    color: #eee!important;
}
.danger {
    color: #f56c6c;
}
  .success {
    color:#67c23a;
  }
  
  .warning {
    color:#e6a23c;
  }
  
  .blue {
    color: #10a9ff;
  }
  .el-form-item__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 0.07292rem;
    color: #eee!important;
    line-height: 0.20833rem;
    padding: 0 0.0625rem 0 0;
    box-sizing: border-box;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #ecf5ff!important;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #3085cb!important;
    color: #fff!important;
}
.el-tree-node:focus>.el-tree-node__content, .el-tree-node__content:hover, .el-upload-list__item:hover {
    background-color: #082b5b!important;
    color: #fff!important;
}
#orgTree .el-tree-node__content {
    height: 36px;
    color: #fff;
}
.el-table__body tr.hover-row.current-row>td.el-table__cell, .el-table__body tr.hover-row.el-table__row--striped.current-row>td.el-table__cell, .el-table__body tr.hover-row.el-table__row--striped.selection-row>td.el-table__cell, .el-table__body tr.hover-row.el-table__row--striped>td.el-table__cell, .el-table__body tr.hover-row.selection-row>td.el-table__cell, .el-table__body tr.hover-row>td.el-table__cell, .el-tree-node {
    background-color: #082b5b;
    color: #fff;
}
 .el-dropdown {
    font-size: 0.07292rem;
    margin-left: 2px;
}
.collapse-card {
    margin-bottom: 0.10417rem;
    border: none;
    border-bottom: 0.00521rem solid #f4f5f7;
    background-color: #0c3c60!important;
}
.collapse-card .card-header[data-v-0f952d60] {
    position: relative;
    font-size: 0.08333rem;
    color: #eee!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .el-input__inner {
    height: 0.1875rem;
    border-radius: 0.02083rem;
    background: transparent;
    color: #eee!important;
}
.el-card {
    border-radius: 0.02083rem;
    border: 0.00521rem solid #0c3c60!important;
    background-color: #FFFFFF;
    overflow: hidden;
    color: #303133;
    transition: 0.3s;
}
.el-form-item__content span {
    color:#fff;
}
.tableNOdata p{
    color:#fff;
    margin-right:40px;
}
.accessDeviceAllocateDialog .el-dialog__body .devicetree {
    width: 100%;
    height: 2.60417rem;
    background-color: transparent!important;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: pointer;
}
.accessDeviceAllocateDialog .el-dialog__body .el-input .el-input__inner {
    background: transparent!important;
    border: 1px solid #d2d2d2!important;
}
.el-row20 {
    padding: 10px 20px;
  }
  .padding40 {
    padding: 0 40px;
  }
  .el-page-header__title {
    color:#fff;
  }
  .share .share-device-card .share-device-left {
    display: flex;
    background: transparent!important;
    border-radius: 0.01042rem;
    border: 0.00521rem solid #eeeeee;
    align-items: center;
    overflow: hidden;
}
.share .share-device-card .tree-header span {
    font-weight: bold;
    color: #eee!important;
}
.share .share-device-card .tree-header {
    display: flex;
    align-items: center;
    color: #eee;
    padding: 0.10417rem 0.08333rem;
    height: 0.3125rem;
}
.shareDialogTree.orgTreeOut .el-input__inner {
    width: 100%;
    height: 0.1875rem;
    background: transparent!important;
    border: 0.00521rem solid #e8f1ff;
}
.share .share-device-card .share-device-right {
    background: transparent!important;
    border-radius: 0.01042rem;
    border: 0.00521rem solid #eeeeee;
}
.el-tabs__item {
    padding: 0 0.10417rem;
    height: 0.20833rem;
    box-sizing: border-box;
    line-height: 0.20833rem;
    display: inline-block;
    list-style: none;
    font-size: 0.07292rem;
    font-weight: 500;
    color:#eee;
    position: relative;
}