@import "iconfont.css";
.screen {
  pointer-events: none;
  position: fixed;
  z-index: 1002;
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
}
.screen.full{
  height: 100vh;
  top: 0px;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    /*文字超出宽度则显示ellipsis省略号*/
    text-overflow: ellipsis;
}
.el-select .el-input.is-disabled .el-input__inner{
    border-color: #E4E7ED;
    color: #fff;
}
.el-input.is-disabled .el-input__inner{
    color: #fff;
}
.amap-copyright,.amap-logo{
    display: none!important;
}
.el-form--inline .el-form-item__label{
    float: left;
}
.el-button--small{
    height: 32px;
    /*line-height: normal;*/
}
.el-input.is-disabled .el-input__inner{
    background: transparent;
}
#table_time_selected_time_seled {
    overflow: auto;
    margin-right: 20px;
    box-sizing: border-box;
}
#table_time_selected_time_seled div{
    /*overflow: hidden;*/
    width: 100%;
}
/*.screen > -webkit-scrollbar-track {*/
/*  background-color: #1e2c45 !important;*/
/*}*/

/*.screen > -webkit-scrollbar-thumb {*/
/*  background-color: #2e4c90 !important;*/
/*  border-radius: 3px;*/
/*}*/

/*.screen > -webkit-scrollbar {*/
/*  width: 6px;*/
/*  height: 0px;*/
/*}*/
input{
	background:none;
	outline:none;
  border: none;
  color: #ffff;
}
input:focus{
	border:none;
}
.base {
    background-color: transparent;
    box-sizing: border-box;
    width: 1700px;
    height: 100%;
    margin: 20px auto;
    position: relative;
}
.search-form {
    margin-top:18px;
}
.el-dialog {
    position: relative;
    margin: 0 auto 0.26042rem;
    background: #051b2c!important;

    border-radius: 0.01042rem;
    box-shadow: 0 0.00521rem 0.01563rem rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    width: 50%;
}
.el-dialog__title {
    line-height: 0.125rem;
    font-size: 0.09375rem;
    color:#fff!important;
}
.el-dialog__body {
    padding: 0.15625rem 0.10417rem;
    color:#fff!important;
    font-size: 0.07292rem;
    word-break: break-all;
}
.el-input.is-disabled .el-input__inner {
    background-color: transparent!important;
    border-color: #E4E7ED;
    color: #C0C4CC;
    cursor: not-allowed;
}
.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    background-color: transparent!important;
    font-size: 0.07292rem;
    color: #606266;
}
.el-table tr {
    background-color: transparent!important;
}
.el-table th.el-table__cell {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent!important;
}
.el-loading-mask {
    position: absolute;
    z-index: 2000;
    background-color: transparent!important;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s;
}
.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background: #0a3251!important;
}

.form-flex {
  display: flex;
  padding: 0 40px;

  .form-left {
    width: 50%;
    padding-right: 20px;
  }

  .form-right {
    width: 50%;
    padding-left: 20px;
  }
}
.tableNOdata {
    margin-left: 50%;
    text-align: center;
    /* display: flex; */
    /* align-content: flex-end; */
    /* flex-direction: column; */
    transform: translateX(-50%);
}