//tabs标签页
.el-radio-group {
  margin-right: 5%;
  .el-radio-button {
    margin-right: 20px;
    border-radius: 10px;
  }
  .el-radio-button__inner {
    background: none;
    border: 1px solid #7d7d7d;
    color: #edf6f7;
    width: 56px;
  }
  .el-radio-button .el-radio-button__inner {
    border-radius: 5px;
  }
  .el-radio-button__orig-radio {
    color: #fefefe;
    border-radius: 5px;
  }
   .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: #00ccff;
    border-color: #00ccff;
    color: #fefefe;
  }
  .el-radio-button:first-child .el-radio-button__inner {
    border-radius: 5px 5px 5px 5px;
  }
  .el-radio-button:nth-child(2) .el-radio-button__inner {
    border-radius: 5px;
  }
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #fff;
    background-color: #00ccff;
    border-color: #00ccff;
    -webkit-box-shadow: -1px 0 0 0 #00ccff;
    box-shadow: -1px 0 0 0 #00ccff;
  }
}
// 图片上传
.avatar-uploader {
  width: 100%;
}
.avatar-uploader .el-upload {
  border: 1px dashed #fff;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);
  &:hover {
    border-color: #409eff;
  }
}
//select选择器
/* .select .el-select {
  .el-input__inner {
    height: 80px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
    background: #192f3f;
    border: 1px solid #00ccff;
    opacity: 0.7;
    border-radius: 4px;
    .el-icon-arrow-up:before {
      content: "\E6E1";
    }
  }
} */
// slider滑块
.el-slider {
  position: relative;
  width: 200px;
  height: 4px;
  .el-input {
    width: 110px;
  }
  .el-slider__runway {
    height: 4px;
    background: #027d9c;
    .el-slider__bar {
      height: 4px;
      background: #00ccff;
    }
  }
  .el-slider__runway.show-input {
    margin-right: 0px;
    width: auto;
  }
  //   input框
  .el-slider__input {
    position: absolute;
    right: 0;
    width: 110px;
    height: 32px;
    .el-input-number--small .el-input-number__decrease,
    .el-input-number--small .el-input-number__increase {
      padding: 0;
      margin: 0;
      width: 3px;
      font-size: 13px;
    }
    .el-input-number__decrease.is-disabled,
    .el-input-number__increase.is-disabled {
      color: #fff;
      cursor: not-allowed;
    }
    .el-input-number__decrease,
    .el-input-number__increase {
      position: absolute;
      z-index: 1;
      top: 0px;
      width: 32px;
      height: 32px;
      text-align: center;
      background: #00ccff;
      color: #fff;
      cursor: pointer;
      font-size: 13px;
      border: none;
    }
    .el-input--small .el-input__inner {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      height: 32px;
      line-height: 32px;
      background-color: rgba(255, 255, 255, 0);
      border-top: 1px solid #00ccff;
      border-bottom: 1px solid #00ccff;
      border-right: none;
      border-left: none;
      color: #edf6f7;
      font-size: 14px;
    }
  }
}

//tabs标签页
.el-tabs {
  .el-tabs__nav-wrap::after {
    background-color: none !important;
  }
  .el-tabs__item {
    font-size: 14px;
    color: #edf6f7;
    &:hover {
      color: #00ccff;
    }
  }
  .el-tabs__item.is-active {
    color: #00ccff;
  }
  .el-tabs__active-bar {
    background-color: #00ccff;
  }
  .el-menu .el-tabs__item,
  .el-tabs__header .el-tabs__item {
    background: none !important;
  }
  .el-tabs__nav-wrap::after {
    bottom: none !important;
  }
}
// 时间选择器
.el-range-editor.el-input__inner {
  width: 280px;
  background: none;
  border: 1px solid #00ccff;
  background-color: rgba(25, 47, 63, 0.7);
  height: 40px;
  .el-range-input {
    background: none;
  }
}
//select选择器
/* .el-select {
  .el-input {
    width: 95%;
  }
  .el-input__inner {
    height: 40px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #fff;
    background: #192f3f;
    border: 1px solid #00ccff;
    opacity: 0.7;
    border-radius: 4px;
    .el-icon-arrow-up:before {
      content: "\E6E1";
    }
  }
} */
.el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(20, 47, 72, 0);
  z-index: 1;
}
